body {
  font-family: Arial;
  margin: 0;
  scroll-behavior: smooth;
}

header {
  background: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

nav {
  background: #555;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

section {
  padding: 40px;
  text-align: center;
}

img {
  width: 150px;
  border-radius: 10px;
}

.card {
  display: inline-block;
  padding: 20px;
  margin: 10px;
  background: lightgray;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.1);
}

/* Dark Mode */
.dark {
  background: #111;
  color: white;
}
